<h1>Find Tweets</h1>
<p>Search for the latest tweets from a user!</p>

<%= form_for @twitter_user, url: tweet_streams_path, method: :post do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <p>
    <%= f.label "Twitter Handle" %><br>
    <%= f.text_field :handle %>
  </p>

  <p>
    <%= f.submit "Search Tweets" %>
  </p>

<% end %>
