<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>StackSocial-Challenge</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="callout <%= message_type %>" data-closable>
        <%= message %>

        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <div class="row">
      <% if logged_in? %>
        <%= link_to "logout", logout_path, method: "delete" %></p>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
